*{
  margin: 0;
}

.brand{
  transition: 0.5s;
}
.brand:hover{
 color: black;
}

.btn-search{
  color: green  ;
  border-radius: 5px;
  margin: 2px;
 transition: 0.5s;
}

.btn-search:hover{
  background-color: brown;
  color: white;
  border: 1px solid green;
}
.header{
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header h2{
  font-weight: 900;
  font-size: 60px;
  color: orange; 
}

.border{
  border:1px solid black;
  width: 300px;
  height: 7px;
  background-color: black;
  border-radius: 50%;
  }

  .Buttons{
    margin: 10px;
  }

  .btn-design{
    margin: 5px;
    width: 70px;
    color: orange;
    background-color: black;
    border-radius: 20px;
    transition: 0.5s;
    outline: none;
    border: none;
    height: 35px;
  }

  .btn-design:hover{
    width: 100px;
    background-color: orange;
    color: black;
  }

  .card{
    align-items: center;
    border-radius: 20px;
    margin: 6px;
    border: 2px solid orange;
    margin: 5px;
    border-radius: 10px;
  }

  .card img{
    width: 200px;
    height: 200px;
    border-radius: 20px;
  }

  .card div p{
    font-size: 20px;
    margin: 20px;
    font-weight: 400;
  }

  .card div h3{
    margin: 20px;
    font-weight: bolder;
  }



  .card-title{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .card-title h5{
    color: brown;
    font-size: 16px;
    font-weight: 400;
  }

  .Error{
    text-align: center;
    font-size:50px;
  }